@import url("http://fonts.googleapis.com/css?family=Roboto");

*{
  font-family: "Roboto";
  margin: 0;
}

/* Headings */
h1{
  color: white;

  font-style: normal;
  font-weight: 700;
  line-height: 80px;
}
.h1Plus {
  font-size: 72px;
  text-shadow:-0   -3px 0 black,
               0   -3px 0 black,
              -0    3px 0 black,
               0    3px 0 black,
              -3px -0   0 black,
               3px -0   0 black,
              -3px  0   0 black,
               3px  0   0 black,
              -1px -3px 0 black,
               1px -3px 0 black,
              -1px  3px 0 black,
               1px  3px 0 black,
              -3px -1px 0 black,
               3px -1px 0 black,
              -3px  1px 0 black,
               3px  1px 0 black,
              -2px -3px 0 black,
               2px -3px 0 black,
              -2px  3px 0 black,
               2px  3px 0 black,
              -3px -2px 0 black,
               3px -2px 0 black,
              -3px  2px 0 black,
               3px  2px 0 black,
              -3px -3px 0 black,
               3px -3px 0 black,
              -3px  3px 0 black,
               3px  3px 0 black,
              -3px -3px 0 black,
               3px -3px 0 black,
              -3px  3px 0 black,
               3px  3px 0 black;
}

.h1 {
  font-size: 48px;
  text-shadow:-0   -2px 0 black,
               0   -2px 0 black,
              -0    2px 0 black,
               0    2px 0 black,
              -2px -0   0 black,
               2px -0   0 black,
              -2px  0   0 black,
               2px  0   0 black,
              -1px -2px 0 black,
               1px -2px 0 black,
              -1px  2px 0 black,
               1px  2px 0 black,
              -2px -1px 0 black,
               2px -1px 0 black,
              -2px  1px 0 black,
               2px  1px 0 black,
              -2px -2px 0 black,
               2px -2px 0 black,
              -2px  2px 0 black,
               2px  2px 0 black,
              -2px -2px 0 black,
               2px -2px 0 black,
              -2px  2px 0 black,
               2px  2px 0 black;
}

/* Paragraphs */
p {
  color: #494949;
  font-style: normal;
  font-weight: normal;
  line-height: 80px;
}

.p24 {font-size: 24px;}
.p20 {font-size: 20px;}
.p18 {font-size: 18px;}
.p16 {font-size: 16px;}
.p14 {font-size: 14px;}
.p9  {font-size:  9px;}

/* Action buttons */
.btn{
  box-sizing: border-box;
  text-align: center;

  padding: 15px;
  border-radius: 8px;
  display: inline-block;
}
.btn_orange{
  width: 180px;
  height: 60px;

  font-size: 20px;
  line-height: 30px;

  background: #E8BD55;
  &:hover{  background:#FF9E00;}
  &:active{ background:#F2AE0A;}
}

.btn_gray{
  color: #E9BB4C;
  background: #494949;
  &:hover{  background:#1C1916;}
  &:active{ background:#342D1E;}
}

.btn_gray-big{
  width: 139px;
  height: 55px;

  font-size: 18px;
  line-height: 21px;
}

.btn_small{
  width: 85px;
  height: 30px;

  padding: 7px;

  font-size: 14px;
  line-height: 16px;
}
.btn_change {
  background: #BAAD8D;
  color: #494949;
}


.btn_home{
  margin-top: 69px;
  @media (max-height: 700px) {margin-top: 20px;}
}

a {
  color: black;
  outline: none;
  text-decoration: none;
}


/* Main */
body {
  height: 100%;
}

.root{
  width: auto;
  min-height: 100vh;
}

header {
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;

  position: absolute;
  height: 100px;
  left: 0px;
  right: 0px;
  top: 0px;

  background: linear-gradient(180deg, #E8BD55 0%, #F2AE0A 0.01%, #E9BB4C 52.08%, #E9BB4C 90.62%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);

  .menu__item {
    height: 100%;
    list-style: none;
  }

  .logo {
    background: url('../asset/img/logo.png') center no-repeat;
    width: 129px;
    margin-right: 52px;
  }
  .nav {
    font-size: 20px;
    line-height: 100px;

    &:nth-child(2) {
      margin-right: 39px;
    }
    a {color: #494949;}
  }
}

.preview {
  position: absolute;
  left: 0px;
  top: 100px;

  width: 100%;
  min-height: calc(100vh - 100px);

  .preview_text {
    padding-left: 20vh;
    height: calc(100vh - 100px);

    display: table-cell;
    vertical-align: middle;
    background-position: center;
  }
  .p304{color: pink;}
  .p24 {
    margin-top: 25px;
    color: white;
    line-height: 28px;
  }
}

.index {
  background: url('../asset/img/bg_1.png') center no-repeat;
  background-size: cover;
}
.characters {
  background: url('../asset/img/bg.png') center no-repeat;
  background-size: cover;
};


@media (max-height: 700px) {
  .menu {
    height: 75px;
    .nav {line-height: 75px;}
  }
  .preview{
    top: 75px;
    min-height: calc(100vh - 75px);

    .preview_text { height: calc(100vh - 75px);}


  }
}
